/* l'entête*/
.entete{
	text-align: center;
	font-size:65px;
	color : red;
}
.sous-ent{
	text-align: center;
	margin-bottom: 70px;
	color :fuchsia;
	font-size: 45px;
}

/* le footer*/
.conteneurfooter{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
}
.social{
    
    position: relative;
    border-radius: 100%;
    width:59px;
    height:60px;
    justify-content: center;   /* aligner l'image verticalement*/
    align-items: center;
    display: flex;
    overflow: hidden;
    margin-right : 10px;
}
.social img{
    z-index: 1;
    width: 59px;
    height:60px;
    
}
.fondface, .fondtrip, .fondgoogle, .fondreservation{
    top: -60px;
    z-index:2;
    display: block;
    width:59px;
    height:60px;
    position: absolute;
    transition:0.5s; 
}
.fondreservation{
	background-color: red;
}
.fondface{
    background-color:blue;
}
.fondtrip{
    background-color: green;
}
.fondgoogle{
    background-color:yellow;
}
.social:hover .fondface{
    top : 0;
}
.social:hover .fondtrip{
    top : 0;
}
.social:hover .fondgoogle{
    top : 0;
}
.contact{
    display:inline-block;
    list-style-type: none;
    vertical-align: top;
}


/* le body*/

#galerie-menu 
{
	width:670px;
	margin:auto;
	 /* border:dashed white 15px;  */
	border-radius:15px;
	 /*box-shadow: 0 0 1px black, inset 0px 0px 5px black, 0 0 50px 50px cyan ; */
	background: white;
	text-align:center;
}
a img 
{
	height:120px;
	width:120px;
	border:none;
	vertical-align:top;
	border-radius:10px;
}
a 
{
	border-radius:15px;
	display:inline-block;
	transform: scale(1.1) rotate(45deg) ;
	overflow:hidden;
	position:relative;
	box-shadow: 0 0 50px white ; 
	border:solid white; 
	 background:white; 
	transition:0.5s;
	z-index:1;
	height:120px;
	width:120px;
}
a:hover,a:focus 
{
	transform: scale(2.2) rotate(0deg) ;
	transform-origin:top center;
	z-index:5;
	background:white;
	transition:0.5s;
}
a:before 
{
	content:attr(title);
	position:absolute;
	transform:rotate(-45deg); /* incliner les titres */
	transform-origin: 130px 64px;
	border:solid;
	color:white;
	display:block;
	width:160px;
	text-align:center;border-radius:15px;
	background:rgba(0,0,0,0.3);
}

/* En option : */
html 
{
	display:table;
	height:100%;
	width:100%;
	background:white; /* #00664E */
}

body 
{
	display:table-cell;
	vertical-align:middle;
	background-image: url("image/hinhdaidien.jpg");
	background-position: all ;
	background-repeat: no-repeat;
}
.footertext{
	color: blue;
	background-color:white;
	margin-left: 300px;
	margin-right:300px;
	border-radius: 20px;
	text-align: center;
}
/* footer*/
.addfooter{
	color:white ;
	text-align: center;
}
footer{
	background-color: blue;
	border-radius: 10px;
}
/*for mobilescreen*/
@media only  screen and (min-width : 786px){
#galerie-menu{
	display: block;
	width: auto;
	padding-bottom : 3px;
}
.conteneurfooter{
	width:600px;
	margin:0 auto;
}

}
@media only  screen and (min-width : 1000px){
	#galerie-menu{
		display: block;
		width: auto;
		padding-bottom : 3px;
	}
	.conteneurfooter{
		widows: 50%;;
		margin:0 auto;
	}

}
.reservation{
	margin-top: 20px;
	background-color:rgb(142, 223, 21);
	text-align: center;

}
